In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import os
import sqlite3

# Importando o Geojson com os municípios do Brasil

### Criando um Dataframe Geopandas

In [19]:
gjson = "geojs-100-mun.json"
br = gpd.read_file(gjson)
br = br.drop(columns = 'description')
print(type(br))
br.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,name,geometry
0,1100015,Alta Floresta D'Oeste,"POLYGON ((-62.18209 -11.86686, -62.16230 -11.8..."
1,1100023,Ariquemes,"POLYGON ((-62.53595 -9.73182, -62.50782 -9.754..."
2,1100031,Cabixi,"POLYGON ((-60.39940 -13.45584, -60.40195 -13.4..."
3,1100049,Cacoal,"POLYGON ((-61.00051 -11.39796, -61.01794 -11.4..."
4,1100056,Cerejeiras,"POLYGON ((-61.50047 -13.00392, -61.47901 -13.0..."

### Transformando em um Dataframe Pandas

In [6]:
br = pd.DataFrame(br)
print(type(br))
br.head()

<class 'pandas.core.frame.DataFrame'>

,id,name,geometry
0,1100015,Alta Floresta D'Oeste,"POLYGON ((-62.18209 -11.86686, -62.16230 -11.8..."
1,1100023,Ariquemes,"POLYGON ((-62.53595 -9.73182, -62.50782 -9.754..."
2,1100031,Cabixi,"POLYGON ((-60.39940 -13.45584, -60.40195 -13.4..."
3,1100049,Cacoal,"POLYGON ((-61.00051 -11.39796, -61.01794 -11.4..."
4,1100056,Cerejeiras,"POLYGON ((-61.50047 -13.00392, -61.47901 -13.0..."

### Transformando o tipo de geometria para string

In [32]:
br['geometry']= br['geometry'].astype(str)

### Fazendo a conexão com o sqlite para criar a base de dados com os municípios do Brasil

In [14]:
conn = sqlite3.connect(os.path.join('brasil.db'))
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS brasil
             ('id' INT NOT NULL,
             'index' INT PRIMARY KEY NOT NULL,
             'name' text, 
             'geometry' text)''')
conn.commit()

In [17]:
br.to_sql('brasil', con=conn, if_exists='replace')
conn.commit()
br.head()

,id,name,geometry
0,1100015,Alta Floresta D'Oeste,"POLYGON ((-62.182088857 -11.8668597878, -62.16..."
1,1100023,Ariquemes,"POLYGON ((-62.5359497334 -9.7318235272, -62.50..."
2,1100031,Cabixi,"POLYGON ((-60.3993982597 -13.4558418276, -60.4..."
3,1100049,Cacoal,"POLYGON ((-61.0005091459 -11.3979601547, -61.0..."
4,1100056,Cerejeiras,"POLYGON ((-61.5004673575 -13.0039232604, -61.4..."

# Importando json com os dados

### Criando um Dataframe Geopandas

In [22]:
json = "pib.json"
pib = gpd.read_file(json)
print(type(pib))
pib.head()

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,legenda,classe,geometry
0,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5754,215,BAHIA,Tremedal,2010,5.788399e+04,18433.0,3140.24,Produto Interno Bruto per capita,- 9639.65,1,"MULTIPOLYGON (((-41.45880 -14.78142, -41.45497..."
1,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5753,306,RIO GRANDE DO SUL,Turuçu,2010,4.572388e+04,4000.0,11430.97,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-52.03535 -31.56751, -52.04061..."
2,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5752,900,ESPIRITO SANTO,Vitória,2010,1.978263e+07,320156.0,61790.59,Produto Interno Bruto per capita,52702.10 - 133669.00,4,"MULTIPOLYGON Z (((-40.32926 -20.23997 0.00000,..."
3,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5751,3613,MINAS GERAIS,Jacutinga,2010,2.478160e+05,21424.0,11567.21,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-46.50528 -22.34001, -46.51575..."
4,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5750,1028,PIAUÍ,Nazária,2010,2.095138e+04,7895.0,2653.75,Produto Interno Bruto per capita,- 9639.65,1,"POLYGON Z ((-42.82669 -5.34803 0.00000, -42.82..."

### Transformando em um Dataframe Pandas

In [23]:
pib = pd.DataFrame(pib)
print(type(pib))
pib.head()

<class 'pandas.core.frame.DataFrame'>

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,legenda,classe,geometry
0,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5754,215,BAHIA,Tremedal,2010,5.788399e+04,18433.0,3140.24,Produto Interno Bruto per capita,- 9639.65,1,"MULTIPOLYGON (((-41.45880 -14.78142, -41.45497..."
1,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5753,306,RIO GRANDE DO SUL,Turuçu,2010,4.572388e+04,4000.0,11430.97,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-52.03535 -31.56751, -52.04061..."
2,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5752,900,ESPIRITO SANTO,Vitória,2010,1.978263e+07,320156.0,61790.59,Produto Interno Bruto per capita,52702.10 - 133669.00,4,"MULTIPOLYGON Z (((-40.32926 -20.23997 0.00000,..."
3,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5751,3613,MINAS GERAIS,Jacutinga,2010,2.478160e+05,21424.0,11567.21,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-46.50528 -22.34001, -46.51575..."
4,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5750,1028,PIAUÍ,Nazária,2010,2.095138e+04,7895.0,2653.75,Produto Interno Bruto per capita,- 9639.65,1,"POLYGON Z ((-42.82669 -5.34803 0.00000, -42.82..."

### Transformando o tipo de geometria para string

In [31]:
pib['geometry']= pib['geometry'].astype(str)

### Fazendo a conexão com o sqlite para criar a base de dados com as informações sobre o PIB

In [29]:
conn = sqlite3.connect(os.path.join('pib.db'))
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS pib
             ('id' INT NOT NULL,
             'index' INT PRIMARY KEY NOT NULL,
             'gid' INT,
             'UF' text,
             'nome' text,
             'Censo' text,
             'PIB' FLOAT,
             'Pop_est_2009' FLOAT,
             'PIB_percapita' FLOAT,
             'Descrição' text,
             'legenda' text,
             'classe' INT,
             'geometry' text)''')
conn.commit()

In [30]:
pib.to_sql('pib', con=conn, if_exists='replace')
conn.commit()
pib.head()

,id,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,legenda,classe,geometry
0,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5754,215,BAHIA,Tremedal,2010,5.788399e+04,18433.0,3140.24,Produto Interno Bruto per capita,- 9639.65,1,"MULTIPOLYGON (((-41.45880331 -14.78141546, -41..."
1,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5753,306,RIO GRANDE DO SUL,Turuçu,2010,4.572388e+04,4000.0,11430.97,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-52.03534993 -31.56750961, -52..."
2,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5752,900,ESPIRITO SANTO,Vitória,2010,1.978263e+07,320156.0,61790.59,Produto Interno Bruto per capita,52702.10 - 133669.00,4,"MULTIPOLYGON Z (((-40.3292567 -20.23997418 0, ..."
3,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5751,3613,MINAS GERAIS,Jacutinga,2010,2.478160e+05,21424.0,11567.21,Produto Interno Bruto per capita,9639.65 - 22144.80,2,"MULTIPOLYGON (((-46.5052816 -22.34001209, -46...."
4,vw_pib_percapita.fid-2e5b397f_17cf1b12db8_-5750,1028,PIAUÍ,Nazária,2010,2.095138e+04,7895.0,2653.75,Produto Interno Bruto per capita,- 9639.65,1,"POLYGON Z ((-42.82668541 -5.34802917 0, -42.82..."