In [2]:
import sqlite3
import os
import pandas as pd
import geopandas as gpd

# Criando os bancos de dados

Escolhemos usar o sqlite pois tivemos problemas com o MongoBD por ser uma base muito grande e o sqlite funcionou muito bem. O sqlite não suporta dados geométricos, então transformamos as colunas de geometria em campos do tipo string e mudamos seu tipo apenas na hora de usar os dados para análise.

## Dados sobre o PIB de cada município

### Criando um DataFrame em GeoPandas que contém os dados do PIB nos municípios do Brasil

In [9]:
gpd_pib = gpd.read_file("pib.json")
print(type(gpd_pib))
gpd_pib.head(2)

<class 'geopandas.geodataframe.GeoDataFrame'>

A base inteira tinha muitas colunas que não vamos usar para nada, então iremos pegar apenas as que nos interessam

In [10]:
gpd_pib = gpd_pib[['gid','UF','nome','PIB','Pop_est_2009','PIB_percapita','geometry']]
gpd_pib.head(2)

### Transformando em um DataFrame Pandas

In [11]:
pd_pib = pd.DataFrame(gpd_pib)
print(type(pd_pib))

<class 'pandas.core.frame.DataFrame'>

### Transformando o tipo dos dados da coluna geometria em string

In [12]:
pd_pib['geometry']= pd_pib['geometry'].astype(str)

### Fazendo a conexão com o sqlite para criar a base de dados com os municípios do Brasil

In [13]:
conn = sqlite3.connect(os.path.join('BancosA2.db'))

In [14]:
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS pib
             ('gid' INT PRIMARY KEY NOT NULL,
             'UF' text,
             'nome' text,
             'PIB' FLOAT,
             'Pop_est_2009' FLOAT,
             'PIB_percapita' FLOAT,
             'geometry' text)''')
conn.commit()

### Adicionando os dados do DataFrame Pandas na tabela criada com o sqlite

In [15]:
pd_pib.to_sql('pib', con=conn, if_exists='replace')
conn.commit()

# Dados raciais

### Criando um DataFrame em GeoPandas que contém os dados raciais dos municípios do Brasil

In [19]:
gpd_racial = gpd.read_file('raciais.json')
print(type(gpd_racial))
gpd_racial.head(2)

<class 'geopandas.geodataframe.GeoDataFrame'>

,id,gid,UF,nome,Censo,POP_TOT,Pessoas_Pretas,PER_Pessoas_Pretas,descricao,legenda,classe,geometry
0,vw_per_pessoas_pretas.fid-60efe8e1_17d582643c1...,215,BAHIA,Tremedal,2010,17029.0,827,4.856421,Percentual de pessoas residentes de cor ou raç...,"4,22% - 7,79%",2,"MULTIPOLYGON (((-41.45880 -14.78142, -41.45497..."
1,vw_per_pessoas_pretas.fid-60efe8e1_17d582643c1...,306,RIO GRANDE DO SUL,Turuçu,2010,3522.0,133,3.776264,Percentual de pessoas residentes de cor ou raç...,"- 4,22%",1,"MULTIPOLYGON (((-52.03535 -31.56751, -52.04061..."

In [20]:
gpd_racial = gpd_racial[['gid','UF','nome','POP_TOT','Pessoas_Pretas','PER_Pessoas_Pretas','geometry']]
gpd_racial.head(2)

,gid,UF,nome,POP_TOT,Pessoas_Pretas,PER_Pessoas_Pretas,geometry
0,215,BAHIA,Tremedal,17029.0,827,4.856421,"MULTIPOLYGON (((-41.45880 -14.78142, -41.45497..."
1,306,RIO GRANDE DO SUL,Turuçu,3522.0,133,3.776264,"MULTIPOLYGON (((-52.03535 -31.56751, -52.04061..."

### Transformando em um DataFrame Pandas

In [21]:
pd_racial = pd.DataFrame(gpd_racial)
print(type(pd_racial))

<class 'pandas.core.frame.DataFrame'>

### Transformando o tipo dos dados da coluna geometria em string

In [22]:
pd_racial['geometry']= pd_racial['geometry'].astype(str)

### Fazendo a conexão com o sqlite para criar a base de dados com os dados raciais

In [23]:
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS racial
             ('gid'  INT PRIMARY KEY NOT NULL,
             'UF' text,
             'nome' text,
             'POP_TOT' FLOAT,
             'Pessoas_Pretas' FLOAT,
             'PER_Pessoas_Pretas' FLOAT,
             'geometry' text)''')
conn.commit()

### Adicionando os dados do DataFrame Pandas na tabela criada com o sqlite

In [24]:
pd_racial.to_sql('racial', con=conn, if_exists='replace')
conn.commit()

Fechando a conexão apenas após todas as operações com o banco de dados.

In [25]:
conn.close()